@CHARSET "UTF-8";

.icon-48-itp-dashboard 	{ background-image: url(../images/dashboard_48.png); }
.icon-32-itp-dashboard-back { background-image: url(../images/dashboard_back_32.png); }

.icon-48-itp-urls 	    { background-image: url(../images/urls_48.png); }
.icon-32-itp-urls-back { background-image: url(../images/urls_back_32.png); }
.icon-48-itp-new-url     { background-image: url(../images/add_url_48.png); }
.icon-48-itp-edit-url     { background-image: url(../images/edit_url_48.png); }
.icon-32-itp-scripts-32     { background-image: url(../images/tags_32.png); }
.icon-48-itp-globals 	    { background-image: url(../images/globals_48.png); }
.icon-48-itp-new-global     { background-image: url(../images/add_global_48.png); }
.icon-48-itp-edit-global     { background-image: url(../images/edit_global_48.png); }

.icon-48-itp-tags     { background-image: url(../images/tags_48.png); }
.icon-48-itp-new-tag     { background-image: url(../images/add_tag_48.png); }
.icon-48-itp-edit-tag     { background-image: url(../images/edit_tag_48.png); }

table.adminlist .container {
	width: 100% !important;
}

table.adminlist {
	border-collapse: inherit !important;
}

.dragHandle {
	background: url(../images/reorder.png) no-repeat center;
}

.dragHandle:hover {
	cursor: move;
}

.jgrid span.suspicious {
    background-image: url("../images/icon_warning_16.png");
}

.tags_subtitle {
	font-size: xx-small;
	line-height: 10px;
}

.itp-tag-btn{
  float:left;
  margin: 5px;
  padding: 5px;
  border: thin solid #575757;
  text-align: center;
  font-size: medium;
  cursor: pointer;
  color: black !important;
  text-decoration: none !important;
}

#itpm-content{
  width: 90%;
  height: 100px;
}

#itpm-url{
  width: 90%;
}

#itmp-tags{
    float:left;
    width: 48%;
    margin-left: 10px;
}

#itpm-tags-box{
  width: 100%;
}

#itpm-tags-box h1{
  background: #0E76AA;
  text-align: center;
  word-spacing: 3px;
  font-weight: bold;
  color: #000000;
  margin:5px;
  padding:5px;
}

.itpm-url-tag{
  cursor:pointer;
  display:block;
  text-decoration:none !important;
  color:black !important;
  font-size: small !important;
  font-weight: bold;
}

#itpm-left-side-form{
   float:left; 
	width: 48%;

}

.itpm-tag-item{
    overflow: hidden;
    margin:5px;
}

.itpm-tag-actions img {
  cursor: pointer;
}

#tag-form textarea, #global-form textarea, #url-form textarea {
	width: 100% !important;
	height: 100px;
}

#url-scripts-form textarea {
	width: 100% !important;
	height: 200px !important;
}

#url-form textarea {
	width: 100% !important;
	height: 200px;
}

/*
.sdbtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:block;
	color:#666666;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.sdbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}
.sdbtn:active {
	position:relative;
	top:1px;
}

.sdp {
	font-size: medium; 
	color: black;
	margin: 20px 0px;
}
*/

p.sticky {
    background: url("../images/note.png") no-repeat scroll left center #F6F6F6;
    border-color: #E7E7E7;
    border-right: 1px solid #E7E7E7;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 10px 0;
    padding: 20px 20px 10px 60px;
    font-size: medium;
}